<%#% Makes page reload automatically so user doesn't need to refresh page manually %>
<script type="text/javascript">
  setTimeout(function(){ window.location.reload()}, 3000);
</script>
<h2> Question: </h2>
<center>
  <%= "'#{@question}'" %>
</center>

<div style="float:left; width:50%;">
  <center>
    <h3> Reader's answer </h3>
    <% if @readers_answer %>
    <%= @readers_answer %>
    <% else %>
    <%= "...waiting..." %>
    <% end %>
  </center>
</div>
<div style="float:left; width:50%;">
  <center>
    <h3> Guesser's answer </h3>
    <% if @guessers_answer %>
    <%= @guessers_answer %>
    <% else %>
    <%= "...waiting..." %>
    <% end %>
  </center>
</div>
