%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      -if !logged_in?
        = link_to "First demo App", root_path, id: "logo"
      -else
        = link_to current_user.name, current_user, id: "logo"
      %nav
        %ul.nav.navbar-nav.navbar-right
          - if !logged_in?
            %li= link_to "Sign-up", root_path
          -else
            %li= link_to "New Game", current_user
          %li= link_to "Help", help_path
          - if logged_in?
            %li= link_to "Users", users_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Account
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Settings", edit_user_path(current_user)
                %li.divider
                %li
                  = link_to "Log out", logout_path, method: :delete
          - else
            %li= link_to "Log in", login_path


